In [1]:
import pandas as pd
import numpy as np
import sys
import time
import matplotlib.pyplot as plt
%load_ext snakeviz

path = '/Users/Divir/Desktop/Geeklife/poker'
if path not in sys.path: sys.path.append(path)
    
from poker.simulation import *

In [2]:
# need 1.67 million games per hand
# current speed: 1000 games/sec => 1000/169 = 5.9 hands/sec
# new speed: 14700 games/sec => 87 hands / sec
# number of sims per hand * accuracy / time in hrs
(1.7 * 1e6 / 5.9) / 3600

80.0376647834275

In [12]:
df_new = pd.read_csv('../data/probabilities.csv')
df_old = pd.read_csv('../data/probabilities_old.csv')
df_new

    hand  players    won  played      prob
0    AAo        2  79333   96247  0.824265
1    KKo        2  74482   96655  0.770596
2    QQo        2  72911   96068  0.758952
3    JJo        2  72051   96680  0.745252
4    TTo        2  69534   96559  0.720119
..   ...      ...    ...     ...       ...
840  73o        6  12200  105306  0.115853
841  92o        6  11213  105317  0.106469
842  82o        6  10873  105091  0.103463
843  62o        6  10782  105860  0.101852
844  72o        6  10496  105439  0.099546

[845 rows x 5 columns]

In [15]:
df_new[df_new.hand == 'AAo']

    hand  players    won  played      prob
0    AAo        2  79333   96247  0.824265
169  AAo        3  34089   49167  0.693331
338  AAo        4  38894   65933  0.589902
507  AAo        5  41998   82418  0.509573
676  AAo        6  23494   52995  0.443325

In [13]:
df = pd.merge(df_new, df_old, on=['hand', 'players'], suffixes=['_new', '_old'], how='outer')
tmp = df[df.players == 2].copy()
tmp['diff'] = (df.prob_new - df.prob_old).abs()
tmp = tmp.sort_values('diff', ascending=False)
tmp.head(50)

,hand,players,won_new,played_new,prob_new,won_old,played_old,prob_old,diff
140,43o,2,89334,192634,0.463750,35734,123724,0.288820,0.174930
54,33o,2,54854,96086,0.570884,24744,61567,0.401904,0.168981
28,44o,2,59179,96278,0.614668,27587,61706,0.447072,0.167596
122,43s,2,31529,64017,0.492510,13413,41175,0.325756,0.166754
115,54o,2,96190,191872,0.501324,41455,123468,0.335755,0.165569
92,54s,2,33744,64126,0.526214,15083,41352,0.364747,0.161467
15,55o,2,61501,95766,0.642201,30024,61672,0.486834,0.155367
106,22o,2,48924,95805,0.510662,22818,61547,0.370741,0.139921
165,32o,2,75442,192655,0.391591,31176,123733,0.251962,0.139629
147,53o,2,86510,192529,0.449335,38446,123250,0.311935,0.137400
131,53s,2,30940,64435,0.480174,14323,41371,0.346209,0.133965
164,42o,2,76639,192109,0.398935,32783,123370,0.265729,0.133206
154,42s,2,27828,64219,0.433330,12408,41187,0.301260,0.132070
157,32s,2,27167,64544,0.420907,11884,41056,0.289458,0.131448
112,65o,2,97532,192409,0.506899,46671,122724,0.380292,0.126607
86,65s,2,34354,64169,0.535368,16878,41034,0.411317,0.124050
11,66o,2,63242,96252,0.657046,32906,61644,0.533807,0.123239
136,64o,2,89797,191491,0.468936,44405,123531,0.359464,0.109471
120,64s,2,31670,63783,0.496527,15997,41294,0.387393,0.109134
166,52o,2,74350,192161,0.386915,35734,123048,0.290407,0.096508
104,76o,2,98672,192508,0.512561,51327,123238,0.416487,0.096074
159,52s,2,27057,64420,0.420009,13419,41227,0.325491,0.094519
82,76s,2,34721,64482,0.538460,18202,40991,0.444049,0.094412
8,77o,2,64245,96009,0.669156,35634,61641,0.578089,0.091067
129,75o,2,92769,192518,0.481872,48666,123746,0.393273,0.088599
1,KKo,2,74482,96655,0.770596,52986,61778,0.857684,0.087088
108,75s,2,32774,64314,0.509594,17430,40803,0.427174,0.082419
146,63s,2,28975,64282,0.450748,15226,41078,0.370661,0.080088
160,63o,2,80236,193131,0.415449,41749,123266,0.338690,0.076758
24,ATo,2,119648,191529,0.624699,85807,122868,0.698367,0.073668
148,74o,2,85337,192753,0.442727,45752,123126,0.371587,0.071140
42,KTo,2,113707,192571,0.590468,81137,122839,0.660515,0.070047
12,AKo,2,125903,192805,0.653007,88818,122984,0.722192,0.069185
73,A2o,2,104753,191838,0.546049,75933,123686,0.613918,0.067868
14,ATs,2,41294,64027,0.644947,29302,41136,0.712320,0.067373
16,AJo,2,122552,191969,0.638395,86755,123045,0.705067,0.066673
52,K9o,2,110200,192440,0.572646,78752,123345,0.638469,0.065823
13,AQo,2,125060,193092,0.647671,88170,123605,0.713321,0.065650
29,KQo,2,117858,191889,0.614199,84279,124088,0.679187,0.064989
0,AAo,2,79333,96247,0.824265,55330,62258,0.888721,0.064456
7,AKs,2,42982,64038,0.671195,30156,41007,0.735387,0.064191
55,A2s,2,36795,64547,0.570050,26195,41305,0.634185,0.064135
97,87o,2,100320,192629,0.520794,56653,123935,0.457119,0.063675
118,86o,2,96025,193021,0.497485,53377,123006,0.433938,0.063547
135,74s,2,30322,64561,0.469664,16729,41165,0.406389,0.063275
27,A9o,2,118053,192018,0.614802,83636,123379,0.677879,0.063077
41,K9s,2,38195,64216,0.594789,26930,40962,0.657439,0.062649
10,AJs,2,42542,64529,0.659269,29691,41167,0.721233,0.061964
17,KQs,2,40851,64233,0.635982,28709,41145,0.697752,0.061770
30,KTs,2,39344,64305,0.611834,27787,41269,0.673314,0.061480

In [18]:
tmp[tmp.hand == 'AAo']

,hand,players,won_new,played_new,prob_new,won_old,played_old,prob_old,diff
0,AAo,2,79333,96247,0.824265,55330,62258,0.888721,0.064456